<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<header th:fragment="header">

		<div class="join-menu" id="menu">
			<div class="logo ml">
				<button id="btn">
					<i class="xi-bars"></i>
				</button>
				<a th:href="@{/}">LOGO</a>
			</div>
			<div class="layout_width">
				<th:block th:if="${session.member == null}">
					<a th:href="@{/user/join}">JOIN</a>
					<a th:href="@{/user/login}" class="mr">LOGIN</a>
				</th:block>

				<th:block th:unless="${session.member == null}">
					<input type="text" disabled th:value="${session.member.nickName} + '님 환영합니다.'">
					<a th:href="@{/}">MYPAGE</a>
					<a th:href="@{/}">LOGOUT</a>
				</th:block>
			</div>
		</div>
	</header>
</body>

</html>